Repository dobbernaut/test-cucumber-java: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build app image, build cucumber image

.gitlab-ci.yml:

image: node:16.14.0-alpine3.15

stages:
  - build-app
  - build-container
  - test-integration

build:
  stage: build-app
  script:
    - cd app-blog
    - yarn install --frozen-lockfile
    - yarn build
  artifacts:
    expire_in: 10 days
    paths:
      - app-blog/dist/
  rules:
  - changes:
      - app-blog/**/*

build app image:
  stage: build-container
  image: docker
  needs:
    - build
  dependencies:
    - build
  services:
    - docker:19.03.13-dind
  script:
    - docker login --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/blog-api -f ./app-blog/scripts/docker/Dockerfile .
    - docker push $CI_REGISTRY_IMAGE/blog-api
  rules:
  - changes:
      - app-blog/**/*

build cucumber image:
  stage: build-container
  image: docker
  services:
    - docker:19.03.13-dind
  script:
    - docker login --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/cucumber -f ./scripts/docker/Dockerfile-cucumber .
    - docker push $CI_REGISTRY_IMAGE/cucumber
  rules:
  - changes:
      - scripts/docker/Dockerfile-cucumber

test:
  stage: test-integration
  image: $CI_REGISTRY_IMAGE/cucumber
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
  services:
    - name: $CI_REGISTRY_IMAGE/blog-api
      alias: blog-api
  script:
    - ./scripts/wait-for-service-ready.sh http://blog-api:5250/posts 200 app
    - cd cucumber
    - ./gradlew cucumber -Denv=ci

Rename app to service blog
  .gitlab-ci.yml
  app-blog/scripts/docker/build.sh
  app-blog/scripts/docker/stop.sh
  cucumber/src/test/java/health/stepdefinitions/ClaimSummaryStepDefinitions.java
  service-blog/.editorconfig
  service-blog/.eslintignore
  service-blog/.eslintrc.json
  service-blog/.gitignore
  service-blog/.nvmrc
  service-blog/jest.config.ts
  service-blog/package.json
  service-blog/scripts/docker/Dockerfile
  service-blog/scripts/docker/build.sh
  service-blog/scripts/docker/run.sh
  service-blog/scripts/docker/stop.sh
  service-blog/src/app/app.ts
  service-blog/src/app/blog-posts.ts
  service-blog/src/app/data/blog-posts.ts
  service-blog/src/test/bing.test.ts
  service-blog/tsconfig.json
  service-blog/yarn.lock
Due: build, build app image

Rename and update service cucumber test
  cucumber/.vscode/settings.json
  cucumber/gradlew
  cucumber/gradlew.bat
  cucumber/settings.gradle
  cucumber/src/test/java/health/TestRunner.java
  cucumber/src/test/java/health/features/ClaimSummaryForm.feature
  cucumber/src/test/java/health/pages/forms/ClaimSummaryForm.java
  cucumber/src/test/java/health/stepdefinitions/ClaimSummaryStepDefinitions.java
  cucumber/src/test/java/health/stepdefinitions/Hooks.java
  test/.editorconfig
  test/.gitattributes
  test/.gitignore
  test/.vscode/extensions.json
  test/.vscode/settings.json
  test/build.gradle
  test/gradle/wrapper/gradle-wrapper.jar
  test/gradle/wrapper/gradle-wrapper.properties
  test/gradlew
  test/gradlew.bat
  test/settings.gradle
  test/src/test/java/cucumber/stepdefinitions/Posts.java
  test/src/test/java/cucumber/stepdefinitions/UserPosts.java
  test/src/test/java/models/blog/Post.java
  test/src/test/java/restassured/RestAssured.java
  test/src/test/java/services/blog/BlogPostsService.java
  test/src/test/java/services/blog/HttpClientService.java
  test/src/test/resources/cucumber.properties
  test/src/test/resources/cucumber/features/posts_service.feature
  test/src/test/resources/cucumber/features/user_blog_posts.feature
Due: none

Fix test pipeline directory
  .gitlab-ci.yml
Due: none

Update cucumber dockerfile to include gradle
  scripts/docker/Dockerfile-cucumber
Due: build cucumber image

Fix container registry names from pipeline
  .gitlab-ci.yml
Due: none

Rename service to service mock
  .gitlab-ci.yml
  service-blog/scripts/docker/build.sh
  service-blog/scripts/docker/stop.sh
  service-mock/.editorconfig
  service-mock/.eslintignore
  service-mock/.eslintrc.json
  service-mock/.gitignore
  service-mock/.nvmrc
  service-mock/jest.config.ts
  service-mock/package.json
  service-mock/scripts/docker/Dockerfile
  service-mock/scripts/docker/build.sh
  service-mock/scripts/docker/run.sh
  service-mock/scripts/docker/stop.sh
  service-mock/src/app/app.ts
  service-mock/src/app/blog-posts.ts
  service-mock/src/app/data/blog-posts.ts
  service-mock/src/test/bing.test.ts
  service-mock/tsconfig.json
  service-mock/yarn.lock
  test/src/test/java/services/blog/BlogPostsService.java
Due: none

Update test configs for gradle and sdkman
  .vscode/settings.json
  scripts/wait-for-service-ready.sh
  test/.sdkmanrc
  test/.vscode/settings.json
  test/build.gradle
Due: none

Fix release container stage
  .gitlab-ci.yml
Due: none

Group cucumber features and stepdefinitions together
  test/build.gradle
  test/src/test/java/cucumber/features/posts_service.feature
  test/src/test/java/cucumber/features/user_blog_posts.feature
Due: none
